@import "tailwindcss";

:root {
  /* MÀU NỀN TOÀN TRANG */
  --background: #6D0446; 
  --foreground: #171717; 
  
  /* Các màu Quizizz-like cho các phần tử */
  --quiz-primary-dark: #4A148C; /* Tím đậm (dùng cho focus input) */
  --quiz-primary-light: #6A1B9A; /* Tím sáng (dùng cho border input) */
  --quiz-action-neon: #00E676; /* Xanh neon (dùng cho border thanh nhập mã phòng) */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background); /* Áp dụng màu nền mới */
  color: var(--foreground);
}